<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/Teamzam08">Adryan Hawkins</a>. A warehouse manager turned web developer.
  </p>
  <p>
    Adryan is a very proud father of 3 that is on the verge of becoming a great developer. He is married to his best friend and the woman he considers to be the most beautiful on earth. He enjoys sports, pro wrestling and relaxing.
  </p>
  <p>
    He is currently enrolled in the Univeristy of Arizona Bootcamp learning how to code.
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>  

   <div class="row">
    <div class="col-12 col-sm-6" style="padding-top:30px;">
      <%= image_tag("https://adryanhawkins.netlify.com/me.jpg", class: 'img-fluid') %>
    </div>
    <div class="col-12 col-sm-7" style="padding-top:30px">
      <h3 class="text-left">The Hawkins Family</h3>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
